<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{@title}}</title>
  <!-- build:css(.) css/combined.css -->
  <link rel="stylesheet" href="bower_components/material-design-lite/material.css">
  <link rel="stylesheet" href="bower_components/photoswipe/dist/photoswipe.css">
  <link rel="stylesheet" href="bower_components/photoswipe/dist/default-skin/default-skin.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- endbuild -->
</head>
<body>
  <header>
    <div class="title">{{@title}}</div>
    <div class="subtitle">We'll be posting photos here as we take them, so check back often!</div>
  </header>
  {{{body}}}
  {{> photoswipe}}
  <!-- build:js(.) js/combined.js -->
  <script src="bower_components/photoswipe/dist/photoswipe.min.js"></script> 
  <script src="js/photoswipe-ui.js"></script> 
  <script src="js/photoswipe-support.js"></script> 
  <script src="js/app.js"></script> 
  <!-- endbuild -->
</body>
</html>