abbr {
  border-bottom: 1px dotted;
}

.subheader {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: bold;
  font-size: 125%;
}

.logMessage, .statusMessage {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 16px;
  padding-top: 10px;
}

.logMessage-timestamp {
  opacity: 0.5;
  font-size: 80%;
}

.timezoneMessage {
  opacity: 0.5;
  font-size: 80%;
}

.mdl-button--primary.mdl-button--primary {
  /* matching specificity from mdl... they have the class name twice */
  color: rgb(68, 77, 80);
}

.mdl-button--primary.mdl-button--primary.mdl-button--fab, .mdl-button--primary.mdl-button--primary.mdl-button--raised {
  color: white;
  background-color: rgb(68, 77, 80);
}